<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title style="margin-left: 20px">{%block title%} Udzlieresi site {%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="background-image: url(https://giffiles.alphacoders.com/207/207124.gif); background-repeat:repeat; background-size: 520px">


<nav class="navbar navbar-expand-lg" style="background-color:#0c0409">
  <div class="container-fluid">
    <button class="navbar-toggler" style="color: #bf3f8f; background: #bf3f8f" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: #bf3f8f"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% if 'username' not in session %}
          <li class="nav-item">
            <a class="nav-link" href="/" style="color:#bf3f8f; text-align: center">Hello!</a>
          </li>
        {% endif %}
        {% if 'username' in session %}
        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" href="/home" style="color:#bf3f8f; text-align: center">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Review" style="color:#bf3f8f; text-align: center">Review</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Gallery" style="color:#bf3f8f; text-align: center">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search_actor" style="color:#bf3f8f; text-align: center">Search Actor</a>
        </li>
        {% endif %}


        {% if 'username' in session  %}
          <li class="nav-item" style="margin-left: 1090px">
            <a class="nav-link" href="/logout" style="color:#bf3f8f; text-align: center">Logout</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>



{%  block content  %}
  <h2>the text</h2>
{%  endblock  %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<br>
</body>
</html>