{% extends 'base.html' %}
{%block title%} Movie-Home{%endblock%}
{%  block content  %}
    <p></p>

<div class="card" style="width:40%; margin-left: 30%; background: #0c0409">
  <div class="card-body">
    <h1 style="color:#bf3f8f;text-align: center" >Most Popular Movies For {{ session['username']}}</h1>
  </div>
</div>
    <p></p>

{% for each in popular_dict%}
<div class="card mb-3" style="width:40%; margin-left: 30%; background: #0c0409">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{popular_dict[each]}} class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title" style="color: #bf3f8f">{{each}}</h3>
                  <p></p>
        <p class="card-text" style="color: #bf3f8f">{{rating_dict[each]}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}




{%  endblock  %}
