{% extends 'base.html' %}
{%block title%} Movie-Home{%endblock%}
{%  block content  %}
<div  style="background-color:#73cca8;" >
  <h1 style="color:#000000;">Most Popular Movies </h1>
</div>
{% for each in popular_dict%}
<div class="card mb-3" style="max-width: 700px; margin-left: 400px">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{popular_dict[each]}} class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{each}}</h5>
        <p class="card-text">{{rating_dict[each]}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}




{%  endblock  %}
