{% extends 'base.html' %}

{%block title%} Movie-Film Review {%endblock%}

{%  block content  %}
<p></p>
<div class="card" style="width:50%; margin-left: 25%; background: #0c0409; color: #bf3f8f">
  <div class="card-body">
        <h1 style="text-align: center">Heyo {{ session['username']}} add some Films Review </h1>
    <!--<h3 style="margin-left: 20px">heyo {{ session['username']}} add comment  </h3>-->
  </div>
</div>
    <p></p>
<form method="post">

  <div  style="margin-left: 25%; width: 50%; margin-top: 20px; background: #0c0409; color: #bf3f8f" class="form-floating">
    <textarea style="background: #0c0409; color: #bf3f8f" name="film" class="form-control" placeholder="Leave fil name here" id="floatingTextarea1" ></textarea>
    <label  for="floatingTextarea1">Film</label>
  </div>
  <div  style="width: 50%; margin-left: 25%; margin-top: 20px; background: #0c0409; color: #bf3f8f" class="form-floating">
    <textarea style="background: #0c0409; color: #bf3f8f" name="comments" class="form-control" placeholder="Leave a comment here" id="floatingTextarea" ></textarea>
    <label  for="floatingTextarea">Comments</label>
  </div>

    {% with messages = get_flashed_messages()%}
      {% for msg in messages%}
        <p style="margin-left: 20px">{{msg}}</p>
      {% endfor %}
    {% endwith %}
  <button style="width: 10%; margin-left: 45%; margin-top: 20px; background: #0c0409; color: #bf3f8f" type="submit" class="btn btn-primary">Add Comment</button>


    {% for each in m1%}
      <div style="width: 50%; margin-left: 25%; margin-top: 20px" class="card">
  <div class="card-body" style="background: #0c0409; color: #bf3f8f">
      {{each}}
  </div>
</div>
    {% endfor%}


</form>
{%  endblock  %}