{% extends 'base.html' %}

 {%block title%} Movie-Profile {%endblock%}

{%  block content  %}
<br>
<h1 style="background: #0c0409; color:#bf3f8f; text-align: center; width: 10%; margin-left: 45%"> Profile </h1>
<br>
<form method="post">

    <div class="form-floating mb-2" style="margin-left: 25%; width: 50%; color:#bf3f8f">
        <label for="floatingUser"></label>
        <input style="background: #0c0409; color: #bf3f8f" type="text" name="username" class="form-control" id="floatingUser" placeholder="Username">
      <label for="floatingInput">Username</label>
    </div>
    <br>
    <div class="form-floating mb-3" style="margin-left: 25%; width: 50%; color:#bf3f8f">
      <input style="background: #0c0409; color: #bf3f8f" type="email" name="Email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <br>
    <div class="form-floating" style="margin-left: 25%; width: 50%; color:#bf3f8f">
      <input style="background: #0c0409; color: #bf3f8f" type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <br>
    <button style="width: 10%; margin-left: 45%; background: #0c0409; color: #bf3f8f" type="submit" class="btn btn-primary">Submit</button>

</form>

    {%  endblock  %}