{% extends 'base.html' %}
{%  block content  %}

<form method=post enctype=multipart/form-data style="margin-left: 31%">
      <br>
      <input type=file name=file style="background: rgba(12,4,9,0.45)">
      <input type=text style="color: #bf3f8f; background: rgba(12,4,9,0.45)" name=info placeholder="Comment">
      <input type=submit value=Upload >
</form>
<br>

<!--<form method="post" style="width:60%; margin-left: 20%">-->
<!--    <input type="text" name="info" style="background: #bf3f8f; color: #0c0409">-->
<!--    <input type=submit value=Upload >-->
<!--</form>-->


{% for name in gallery_dict %}
<div class="card mb-4", style="width: 60%; margin-left: 20%">
  <img src="{{ url_for('static', filename='uploads/' + name) }}" >
  <div class="card-body">
    <p class="card-text">{{gallery_dict[name]}}</p>
  </div>
</div>
{% endfor %}

{%  endblock  %}