{% extends 'base.html' %}
{%  block content  %}
<p></p>
<form method="post" style="width:60%; margin-left: 20%">
    <div class="input-group input-group-lg" style="color: #bf3f8f">
      <span class="input-group-text" id="inputGroup-sizing-lg" style="background: #0c0409"></span>
      <input type="text" class="form-control" style="background: #bf3f8f; color: #0c0409" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="name">
      <button type="submit" class="btn btn-primary" style="width: 20%; background: #0c0409; color: #bf3f8f">Submit actor</button>
    </div>
    <p></p>


</form>

<div class="card mb-3" style="width:60%; margin-left: 20%; background: #0c0409">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{img_link}} class="img-fluid rounded-start" alt="Image not found" onerror="this.src='https://m.media-amazon.com/images/G/01/IMDbPro/images/default_name._V142442227_UY289_CR46,0,196,289_.png';">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #bf3f8f">{{actor_name}}</h5>
          <p></p>
        <p class="card-text" style="color: #bf3f8f">Highest Rated: {{best_movie}}</p>
        <p class="card-text" style="color: #bf3f8f">Birth Day: {{birth_day}}</p>
        <p></p>
        <p class="card-text" style="color: #bf3f8f">Bio: {{bio}}...</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="width:60%; margin-left: 20%; background: #0c0409">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #bf3f8f">Last Six Movies</h5>
      </div>
    </div>
  </div>
</div>
{% for each in rate_dict%}
<div class="card mb-3" style="width:60%; margin-left: 20%; background: #0c0409">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{img_dict[each]}} class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #bf3f8f">{{each}}</h5>
        <p></p>
        <p class="card-text" style="color: #bf3f8f">Audience SCORE: {{rate_dict[each]}}</p>
        <p></p>
        <p class="card-text" style="color: #bf3f8f">Bio: {{bio_dict[each]}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
    {%  endblock  %}
